<% provide(:title, 'Edit clinic') %>
<hr>
<div class="clinic-show">
<h1>Edit clinic</h1>
<div class="row">
  <div class="span6 offset3">
     <%= form_for @clinic, html: { multipart: true } do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		 
		 <%= f.label :name %>
		 <%= f.text_field :name %>
		  
		 <%= f.label :typec, "Type" %>
		 <%= f.text_field :typec %>
		 
		 <%= f.label :adress %>
		 <%= f.text_field :adress %>
		 
		 <%= f.label :tel, "Tell." %>
		 <%= f.text_field :tel %>
		 
		 <%= f.label :zipcode, "Zip-code" %>
		 <%= f.text_field :zipcode %>
		  <div class="field">
		 <label>Clinic Avatar</label>
			<%= image_tag(@clinic.avatar_url) if @clinic.avatar? %> 
			<%= f.file_field :avatar %>
			<%= f.hidden_field :avatar_cache %> 
			</div>
		<br/>
		<%= f.submit "Save changes", class: "btn   btn-primary" %>
    <% end %>
  </div>
  </div>
</div>