<% provide(:title, 'Add new procedure') %>
<hr>
<div class="clinic-show">
<h1>Add new procedure</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@procedure) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		 <div class="field">
		 <%= f.label :name %>
		 <%= f.text_field :name %>
		 </div>
		  <div class="field">
		 <%= f.label :cost, "Cost" %>
		 <%= f.text_field :cost %>
		 </div>
		<div class="actions">
		<%= f.submit "Create", class: "btn   btn-primary" %>
		</div>
    <% end %>
  </div>
  </div>
</div>